@import url('style.css');

.texto-historia {
    background: white; padding: 40px; border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05); text-align: justify;
    line-height: 1.8; color: #444; font-size: 1.1em;
}
/* Botão da Tabela */
.btn-acao {
    background: #003087; color: white; padding: 12px 30px; border-radius: 30px;
    border: none; cursor: pointer; font-size: 16px; font-weight: bold; margin: 20px 0;
}
/* Tabela */
.tabela-js { width: 100%; border-collapse: collapse; margin-top: 20px; background: white; }
.tabela-js th { background: #003087; color: white; padding: 12px; }
.tabela-js td { border: 1px solid #ddd; padding: 12px; text-align: center; }