@import url('style.css');

/* Grade de Ídolos */
.noticias-container {
    display: grid; gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (min-width: 992px) {
    .noticias-container { grid-template-columns: repeat(3, 1fr); }
}

/* Card do Ídolo */
.noticia {
    background: white; border-radius: 10px; overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); transition: transform 0.3s; text-align: center;
}
.noticia:hover { transform: translateY(-10px); }
.noticia img { width: 100%; height: 300px; object-fit: cover; object-position: top center; border-bottom: 5px solid #FFDC02; }
.noticia-title { font-size: 1.5em; color: #333; font-weight: bold; display: block; padding: 15px; text-decoration: none; }
.noticia-title:hover { color: #003087; }