* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    z-index: 9999;
}

main {
    color: white;
    background-size: 100% 100%;
    padding-top: 100px; 
    text-align: left;
    padding-left: 100px;
    padding-right: 180px;
}

.data{
    color: rgb(204, 205, 206);
    font-size: 14px;
}

body{
    background: #160000;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}



.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 4px;
    background-color: white;
}

.menu {
    display: flex;
    justify-content: flex-start;
}

.menu nav {
    display: flex;
    gap: 20px;
}

.menuresponsa {
    display: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 1s;
}

header a{
    padding-right: 25px;
    padding-left: 25px;
}
nav a:hover {
    text-shadow: rgb(0, 97, 60) 0px 0px 7px;
    font-size: 20px;
  }

.escudo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.escudoresponsa {
    display: none;
}

.grena {
    background-color: rgb(1, 77, 255);
    width: 100%;
    height: 25px;
}

.verde {
    background-color: rgb(1, 77, 255);
    width: 100%;
    height: 25px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1px;
}

.social-icons a {
    font-size: 20px;
    color: black;
    margin-right: 10px;
    transition: 1s;
}

.social-icons a:hover {
    color: rgb(135, 10, 40);
    transform: scale(1.20); /* Efeito hover */
}



footer {
    background: rgb(1, 77, 255);
    text-align: center;
    padding: 20px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menusobre {
    padding: 20px;
}

.menusobre a {
    font-size: 25px;
}

.titulosobre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: rgb(0, 0, 0) 5px 5px 5px;
}


footer .social-icons {
    display: none;         
}

.noticias-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}
.noticia {
    background-color:  rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}
.noticia:hover {
    transform: scale(1.05);
}
.noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.noticia-content {
    padding: 15px;
}
.noticia-title {
    font-size: 1.2em;
    margin: 0;
    color: #333;
}

.noticia-date {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

/* Responsividade */
@media (max-width: 1290px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    body{
        background: #160000;
    }

    .noticia:hover {
        transform: none;
    }

    .social-icons {
        display: none; /* Esconde os ícones no header */
    }
    
    footer .social-icons {
        display: flex; 
        justify-content: center; /* Centraliza no footer */
        margin-top: 10px;
    }

    .menu {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .menu nav {
        align-items: center;
        gap: 15px;
        display: none;
    }

    .social-icons a {
        font-size: 18px;
        color: white;
    }

    .social-icons a:hover {
        color:  rgb(1, 201, 125);
    }


    .menuresponsa{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }

    .imgescudoresponsa{
        width: 50px;
    }

    .menuresponsa a {
        color: white;
    }
    
    .menuresponsa nav {
        display: flex;
        gap: 80px;
    }

    .escudo {
        display: none;
    }

    .escudoresponsa {
        position: absolute;
        top: -115%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }

    .social-icons {
        justify-content: center;
        margin-top: 10px;
    }

    main{
        background-color: #160000;
        background-size: 100% 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .imgresponsa{
        width: 70%;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 15px;
    }
}

@media (max-width: 580px) {
    header a {
        font-size: 14px;
        padding: 5px;
    }

    .social-icons a {
        font-size: 18px;
        color: white;
    }

    .imgescudoresponsa{
        width: 40px;
    }

    .container {
        padding: 5px;
    }

    .menu nav {
        gap: 10px;
    }

    .menuresponsa{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }

    .menuresponsa nav {
        display: flex;
        gap: 20px;
    }

    main{
        padding-left: 10px;
        padding-right: 10px;
    }

    
    .social-icons {
        display: none; 
    }

    footer .social-icons {
        display: flex; 
        justify-content: center; 
        margin-top: 10px;
    }
    .imgresponsa{
        width: 70%;
        height: auto;
    }
}
@media (max-width: 390px) {
    .menuresponsa nav {
        display: flex;
        gap: 20px;
    }
}

/* Responsividade para notícias */
@media (max-width: 992px) {
    .noticias-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .noticias-container {
        grid-template-columns: 1fr;
    }


}

