@import url('style.css');

h1 {
    color: #003087;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Arial Black', sans-serif;
    text-align: center;
}

h2 {
    color: #555;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

/* CAIXA BRANCA DO CONTEÚDO */
.sobre-box, .perfil-box {
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    text-align: left;
}


.perfil-img {
    display: block;
    margin: 0 auto 30px auto; /* Centraliza */
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    border: 5px solid white;
    

    width: 100%;         
    max-width: 600px;    
    height: auto;        
}

/* Texto dos dados */
.dados-jogador p {
    font-size: 18px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
}

/* Botão Voltar */
.btn-voltar {
    display: inline-block;
    background-color: #ddd;
    color: #333;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    transition: 0.3s;
}
.btn-voltar:hover { background-color: #ccc; }

/* Formulário do Sobre */
.form-container { max-width: 600px; margin: 0 auto; }
.btn-enviar { background-color: #009B3A; color: white; padding: 15px; width: 100%; border: none; border-radius: 5px; font-weight: bold; cursor: pointer; }
input, textarea { width: 100%; padding: 12px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px; }